<h1>Claimed Executions</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Job ID</th>
      <th>Process ID</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.job_id %></td>
        <td><%= job.process_id %></td>
        <td><%= job.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_info(@pagy) %>
<%== pagy_nav(@pagy) %>
