<h1>Failed Executions</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Job ID</th>
      <th>Exception Class</th>
      <th>Exception Message</th>
      <th>Error Details</th>
      <th>Created</th>
      <th>Retry</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.job_id %></td>
        <td><%= job.exception_class %></td>
        <td><%= job.message %></td>
        <td><%= link_to 'Backtrace', solid_queue_interface_job_path(job) %></td>
        <td><%= job.created_at %></td>
        <td><%= button_to "Retry Job", retry_solid_queue_interface_job_path(job) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_info(@pagy) %>
<%== pagy_nav(@pagy) %>
