<h1>All Jobs</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Class</th>
      <th>Queue</th>
      <th>Arguments</th>
      <th>Priority</th>
      <th>Active Job ID</th>
      <th>Concurrency Key</th>
      <th>Created</th>
      <th>Scheduled</th>
      <th>Finished</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.class_name %></td>
        <td><%= job.queue_name %></td>
        <td><%= job.arguments %></td>
        <td><%= job.priority %></td>
        <td><%= job.active_job_id %></td>
        <td><%= job.concurrency_key %></td>
        <td><%= job.created_at %></td>
        <td><%= job.scheduled_at %></td>
        <td><%= job.finished_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_info(@pagy) %>
<%== pagy_nav(@pagy) %>
