<h1>Failed Executions Details For #<%= @job.id %></h1>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% attributes = { id: 'ID', job_id: 'Job ID', created_at: 'Created', exception_class: 'Exception Class', message: 'Exception Message' } %>
    <% attributes.each do |method, title| %>
      <tr>
        <td><b><%= title %></b></td>
        <td><%= @job.send(method) %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Backtrace</b></td>
      <td><%= @job.backtrace.join("<br>").html_safe %></td>
    </tr>
    <tr>
      <td><b>Action</b></td>
      <td><%= button_to "Retry Job", retry_solid_queue_interface_job_path(@job) %></td>
    </tr>
  </tbody>
</table>