<h1>Processes</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Kind</th>
      <th>Last Heartbeat At</th>
      <th>Supervisor</th>
      <th>PID</th>
      <th>Hostname</th>
      <th>Metadata</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @processes.each do |process| %>
      <tr>
        <td><%= process.id %></td>
        <td><%= process.kind %></td>
        <td><%= process.last_heartbeat_at %></td>
        <td><%= process.supervisor_id %></td>
        <td><%= process.pid %></td>
        <td><%= process.hostname %></td>
        <td>
          <ul>
            <% process.metadata.each do |setting, value| %>
              <li><%= setting %>: <%= value %></li>
            <% end %>
          </ul>
        </td>
        <td><%= process.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
